/* Estilos básicos */

@font-face {
    font-family: Heebo;
    src: url('Heebo-Regular.ttf');
}

body {
    font-family: Heebo;
    background-color: #F1F9EC;
    color: #074a29;
    margin: 0;
    padding-right: 0em;
}

/* Barra de navegación fija */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #afdc97;
    color: #074a29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000; /* Asegura que esté sobre el contenido */
}

nav h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;
}

/* Estilos para el botón con ícono */
nav button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav button .back-icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px;
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

nav button i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

/* Estilos del contenido principal */
/* Contenido de redes sociales */
/* Contenido de redes sociales */
.social-content {
    margin-top: 50px;
    padding: 20px;
    background-color: #F1F9EC;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #074a29;
}

h1 {
    font-size: 28px;
    font-family: Heebo, sans-serif;
    color: #074a29;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-links a {
    text-decoration: none;
    color: #074a29;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 200px; /* Controla el ancho de cada enlace */
    justify-content: start; /* Alinea el icono y texto a la izquierda dentro del enlace */
    gap: 8px;
}


.icon {
    width: 3em;
    height: 3em;
}
